In [1]:
import requests
import time
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

import os
from dotenv import load_dotenv

In [2]:
load_dotenv('env.env')
api_key = os.getenv('api_key')

In [3]:
url = f"https://api.eia.gov/v2/total-energy/data/?api_key={api_key}&frequency=monthly&data[0]=value&facets[msn][]=CLETPUS&facets[msn][]=ELETPUS&facets[msn][]=HVETPUS&facets[msn][]=NGETPUS&facets[msn][]=NUETPUS&facets[msn][]=PAETPUS&facets[msn][]=SOETPUS&facets[msn][]=WYETPUS&start=1973-01&end=2022-12&sort[0][column]=period&sort[0][direction]=desc&offset=0&length=5000"
info = requests.get(url).json()
data = info["response"]
df = pd.DataFrame(data['data'])

In [4]:
# DEFINE THE DATABASE CREDENTIALS
user = os.getenv('user')
password = os.getenv('password')
host = os.getenv('host')
port = os.getenv('port')
database = os.getenv('database')

In [5]:
#replace <user>, <password>, <host>, and <port> with your MySQL credentials
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

In [ ]:
#write the DataFrame to a MySQL table using SQLAlchemy
df.to_sql(name='His_Electricity_Net_Generation', con=engine, if_exists='replace', index=False)